.footer
    background-color: $color-blue-dark
    grid-column: full-start / full-end
    padding: 8rem 5rem
    border-top: solid .3rem $color-gray-light

.nav
    &__list
        list-style-type: none
        display: grid
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr))
        justify-items: center
    &__item
    &__link
        &:link, &:visited
            font-size: 1.6rem
            font-weight: 300
            text-transform: uppercase
            color: $color-gray-light
            text-decoration: none
            text-align: center
            transition: all .5s
        &:hover, &:active
            color: $color-green-light